body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background:  rgba(231, 206, 255, 0.1);
}

nav {
    display: flex;
}

img.logo {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: vertical;
}

.card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18rem;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.1));
}


img {
    width: 100%;
    height: auto;
}
iframe {
    border: 0;
    width: 100%;
    height: 30em;
}

.table {
    text-align: center;
}

.btn-primary {
    display: flex;
    justify-content: center;
    margin-top: auto;
}



.card-body {
    display: flex;
    flex-direction: column;
}



.card-deck {
    margin-bottom: 20px;
}

.card-img-top {
    margin-top: 20px;
}

footer {
    text-align: center;
}
